.header{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  align-items: center;
  height: 50px;
  
  padding-left: 16px;
  padding-right: 16px;
  z-index: 100;
}


.left-section{
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo-container{
  margin-left: 20px;
  position: relative;
  pointer-events: all;
}
.logo{
  width: 90px;
}

.expand-icon-button{
  padding: 8px 8px 6px 8px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}

.expand-icon-button:hover{
  background-color: rgb(227, 226, 226);
}
.expand-icon{
  height: 24px;
}



.middle-section {
  display: flex;   margin-left: 90px;
  flex: 1;
  max-width: 650px;
  justify-content: center;
  align-items: center;
  }

.search-bar-main { 
  all: unset;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: lightblue;
  height: 38px;
  flex: 1;
  padding-left: 20px;
  width: 0px;
  box-shadow: inset 1px 0px 1px rgba(45, 45, 226, 0.15);
}

.search-bar-main::placeholder {
  font-size: 16px;
  font-style: italic;
}

.search-button{
  border-style: solid;
  border-width: 1px;
  border-color: lightblue;
  background-color: rgb(248, 248, 248);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 8px 20px 8px 18px;
  margin: 0px 20px 0px 0px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.search-button:hover{
  background-color: rgb(226, 221, 221);
}
.search-icon{
  justify-content: center;
}

.voice-search-button{
  border: none;
  background-color: rgb(240, 232, 232);
  border-radius: 20px;
  padding: 5px 6px 5px 6px;
  height: 38px;
  cursor: pointer;
  position: relative;
}

.voice-search-button:hover{
  background-color: rgb(214, 208, 208);
}
.right-section{
  display: flex;
  min-width: 225px;
  justify-content: flex-end
  ;
  align-items: center;
  flex-shrink: 0;
}
.right-buttons-section{
  display: flex;
  width: 156px;
  justify-content: space-between;
  align-items: center;
}

.create-video-button{
  all: unset;
  width: 24px;
  height: 24px;
  padding: 8px 8px 8px 8px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}
.create-video-button:hover{
  background-color: rgb(227, 226, 226); 
}

.create-video-icon{
  height: 24px;
}

.notification-button{
  all: unset;
  position: relative;
  border-radius: 20px;
  padding: 10px;
  height: 24px;
  cursor: pointer;
  position: relative;
}
.notification-button:hover {
  background-color: rgb(227, 226, 226);
}

.notification-count{
  background-color: rgb(204, 0, 0);
  color: white;
  border-radius: 20px;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  position: absolute;
  right: 4px;
  top: 6px;
}

.right-profile-icon{
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 6px;
  margin-right: 6px;
}