.section-container{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  column-gap: 15px;
  min-width: 100px;
  row-gap: 60px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 7px;
}


.container{
  display: grid;
}

.thumbnail{
  position: relative;
}

.thumbnail-image{
  display: grid;
  border-radius: 10px;
  width: 400px;
  position: relative;
}

.thumbnail-time{
  font-size: 14px;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  background-color: black;
  color: white;
  position: absolute;
  right: 4px;
  bottom: 6px;
}
.below-thumnail-container{
  display: grid;
  grid-template-columns: 40px 1fr;
  height: 85px;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  width: 380px;
}

.profile-picture-container{
  display: inline-block;
  height: 40px;
}

.profile-picture{
  border-radius: 20px;
  height: 40px;
}


.beside-profile-picture{
  width: 310px;
}

.title{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;  
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.channel-name{
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.stats{
  font-size: 14px;
  color: rgb(96, 96, 96);
}


@media (min-width: 480px) and (max-width: 659px) {
  .section-container{
  grid-template-columns: 200px;
  }
  .container{
    width: 0;
  }
}

@media (min-width: 660px) and (max-width: 850px) {
  .section-container{
  grid-template-columns: 1fr;
  }
  .container{
    width: 0;
  }
}

@media (min-width: 851px) and (max-width: 1190px){
  .section-container{
    grid-template-columns: 300px 300px;
    column-gap: 110px;
    row-gap: 40px;
  }
  .container{
    width: 0;
  }
}