.left-navigation-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  background-color: white;
  width: 72px;
  padding: 4px;
  z-index: 90;
}

.left-notification-bar img{
  height: 24px;
}
.left-navigation-bar p {
  font-size: 10px;
}

.left-notification-bar-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  width: 74px;
  padding-top: 16px;
  padding-bottom: 14px;
  position: relative;
}
.left-notification-bar-button:hover{
  background-color: rgb(231, 231, 231);
}